{% extends 'layout.html' %}

{% block content %}
    <div class="quiz">
        <main class="form-quiz">
            <div class="container">
                <div class="row my-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header text-center">
                                <span class="badge rounded-pill bg-info"><i>{{ quiz.title }}</i></span>
                                <a href="{% url 'home' %}" class="btn btn-outline-warning mx-2">Ելք</a>
                                <a href="{% url 'close' title=quiz.title %}"
                                   class="btn btn-outline-danger mx-2">Փակել</a>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'answer' title=quiz.title %}" method="post" class="row">
                                    {% csrf_token %}
                                    <h3 class="title">{{ question.content }}</h3>
                                    <input type="text" hidden name="question" value="{{ question.id }}">
                                    {% for option in question.options.all %}
                                        <div class="col-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer"
                                                       value="{{ option.body }}"
                                                       id="radio_{{ forloop.counter }}">
                                                <label class="form-check-label" for="radio_{{ forloop.counter }}">
                                                    {{ option.body }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="col-12 mt-4 text-center">
                                        <button class="btn btn-outline-success">Պատասխանել</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}