{% extends 'layout.html' %}

{% block title %}֊ Արդյունքը{% endblock %}

{% block content %}
    <main class="container">
        <div class="row my-3">
            <div class="col">
                <h2>{{ user.get_full_name }}</h2>
                <h5><span class="badge rounded-pill bg-info"><i>{{ quiz.title }}</i></span></h5>
            </div>
            <div class="col">
                <h3><strong> Միավորներ </strong><span class="badge rounded-pill bg-success">{{ quiz.total }}</span></h3>
            </div>
            <div class="col text-center">
                <a href="{% url 'home' %}" class="btn btn-outline-warning mx-2">Փակել</a>
            </div>
        </div>
        <div class="row">
            {% for answer in quiz.answers.all %}
                <div class="col-12 col-md-6">
                    <div class="card my-3">
                        <h5 class="card-header">{{ answer.question.content }} <span class="badge rounded-pill bg-primary">{{ answer.question.coin }}</span></h5>
                        <div class="card-body row">
                            {% for option in answer.question.options.all %}
                                <div class="card-title col-6">
                                    {% if option.correct %}
                                        <span class="badge bg-success"> {{ option.body }} </span>
                                    {% else %}
                                        <span class="badge bg-{% if option == answer.selected %}warning text-dark{% else %}danger{% endif %}">{{ option.body }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}