{% extends "layout.html" %}
{% load static %}

{% block title %}֊ Գլխավոր էջ{% endblock %}


{% block content %}
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}"
                   class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="40" height="32">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center ml-2">
                    <li><h2>Բարի գալուստ, {{ user.get_full_name }} </h2></li>
                </ul>

                <div class="text-end">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-outline-light me-2">Ելք</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Մուտք</a>
                        <a href="{% url 'signup' %}" class="btn btn-warning">Գրանցվել</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container my-3">
            <div class="row">
                {% if message %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Ուշադրություն!</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="col">
                    <div class="wrapper">
                        <h2>Ո՞վ է ուզում դառնալ միլոնատեր!</h2>
                    </div>
                </div>
                <div class="col text-center">
                    <a href="{% url 'new-game' %}" class="btn btn-warning">Խաղալ</a>
                </div>
            </div>
            {% if quizzes %}
                <div class="row mt-5">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Անուն Ազգանուն</th>
                                <th>Էլ․ հասցե</th>
                                <th>Միավոր</th>
                                <th>Կարգավիճակ</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quiz in quizzes %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th>{{ quiz.user.get_full_name }}</th>
                                    <td>{{ quiz.user.email }}</td>
                                    <td>{{ quiz.total }}</td>
                                    <td>{{ quiz.status }}</td>
                                    <td>
                                        {% if request.user == quiz.user %}
                                            {% if quiz.status == quiz.QuizStatus.in_progress %}
                                                <a href="{% url 'game' title=quiz.title %}"
                                                   class="btn btn-outline-primary">Շարունակել</a>
                                            {% else %}
                                                <a href="{% url 'score' title=quiz.title %}"
                                                   class="btn btn-outline-primary">Դիտել արդյունքը</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" class="btn btn-outline-secondary disabled">Դիտել արդյունքը</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <footer class="footer mt-auto py-1 bg-light">
        <div class="container">
            <div class="footer-copyright text-center py-2"><span class="text-muted">© Պատրաստվել է «Վաչագան Գրիգորյան»֊ի կողմից.</span>
            </div>
        </div>
    </footer>

{% endblock %}