{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="login">
        <main class="form-signin text-center">
            {% if form.errors %}
                <p style="color: red">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="post">
                <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Դարձիր միլոնատեր</h1>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>

                        {#    <div class="form-floating">#}
                        {#      <input type="{{ field.type }}" class="form-control" id="id_{{ field.name }}" placeholder="name@example.com" name="{{ field.name }}" autocomplete="{{ field.autocomplete }}">#}
                        {#      <label for="id_{{ field.name }}">{{ field.label_tag }}</label>#}
                        {#    </div>#}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% if field.help_text %}
                        <p><small style="color: grey">{{ field.help_text }}</small></p>
                    {% endif %}
                    </p>
                {% endfor %}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Մուտք</button>
                <a href="{% url 'signup' %}">Դեռ չունե՞ք! Գրանցվել</a>
                <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
            </form>
        </main>
    </div>

{% endblock %}

